<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button click="logout()"><ion-icon slot="icon-only" name="log-out"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>Specialists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Which specialist are you looking for?
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Specialist</ion-label>
      <ion-select placeholder="Select One" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="1">Hair</ion-select-option>
        <ion-select-option value="2">Accessory</ion-select-option>
        <ion-select-option value="3">Kindergarden</ion-select-option>
        <ion-select-option value="4">Food</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

</ion-content>

<app-footer></app-footer>